:root {
    --mzzs-font-size-xs: 0.625rem;
    --mzzs-font-size-sm: 0.875rem;
    --mzzs-font-size-md: 1rem;
    --mzzs-font-size-lg: 1.25rem;

    --mzzs-line-height-xs: 0.625rem;
    --mzzs-line-height-sm: 0.875rem;
    --mzzs-line-height-md: 1rem;
    --mzzs-line-height-lg: 1.25rem;

    --mzzs-padding-base: 4px;
    --mzzs-padding-xs: 8px;
    --mzzs-padding-sm: 12px;
    --mzzs-padding-md: 16px;
    --mzzs-padding-lg: 24px;
    --mzzs-padding-xl: 32px;

    --mzzs-margin-base: 4px;
    --mzzs-margin-xs: 8px;
    --mzzs-margin-sm: 12px;
    --mzzs-margin-md: 16px;
    --mzzs-margin-lg: 24px;
    --mzzs-margin-xl: 32px;

    --mzzs-border-radius-sm: 2px;
    --mzzs-border-radius-md: 4px;
    --mzzs-border-radius-lg: 8px;
    --mzzs-border-radius-max: 999px;


    --mzzs-z-index: 5;
    --mzzs-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    --mzzs-border-base: 1px solid #dcdfe6;

    --mzzs-white-color: #ffffff;
    --mzzs-block-color: #333333;
    --mzzs-gray-1: #f7f8fa;
    --mzzs-gray-2: #f2f3f5;
    --mzzs-gray-3: #ebedf0;
    --mzzs-gray-4: #dcdee0;
    --mzzs-gray-5: #c8c9cc;
    --mzzs-gray-6: #969799;
    --mzzs-gray-7: #646566;
    --mzzs-gray-8: #323233;
    --mzzs-primary-color: #409eff;
    --mzzs-success-color: #67c23a;
    --mzzs-danger-color: #909399;
    --mzzs-warning-color: #e6a23c;
    --mzzs-info-color: #f56c6c;
}

.no-scrolling { overflow: hidden; }
.clickable { cursor: pointer; }