@font-face {
    font-family: "mzzs-icon";
    src: url('../../fonts/iconfont.ttf?t=1635665546524') format('truetype');
}

.mzzs-icon {
    --icon-size: 1rem;
    --icon-color: inherit;
    --icon-transform: none;
}

// [class^="icon-"], [class*=" icon-"]
.mzzs-icon {
    display: inline-block;
    font-family: "mzzs-icon" !important;
    font-style: normal;
    font-size: var(--icon-size);
    color: var(--icon-color);
    transform: var(--icon-transform);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &__image {
        width: var(--icon-size);
        height: var(--icon-size);
        object-fit: cover;
        vertical-align: top;
    }
}

// 搜索
.mzzs-icon--search:before {
    content: "\e610";
}
// 右方向 >
.mzzs-icon--arrow-right:before {
    content: "\e650";
}
// 左方向 <
.mzzs-icon--arrow-left {
    transform: rotate(180deg);
    transform-origin: center;
    &:before {
        content: "\e650";
    }
}
// 上方向 ^
.mzzs-icon--arrow-up {
    transform: rotate(-90deg);
    transform-origin: center;
    &:before {
        content: "\e650";
    }
}
// 下方向 v
.mzzs-icon--arrow-down {
    transform: rotate(90deg);
    transform-origin: center;
    &:before {
        content: "\e650";
    }
}
// 水平切换
.mzzs-icon--switch {
    &:before {
        content: "\e6b4";
    }
}
// 垂直切换
.mzzs-icon--vertical-switch {
    transform: rotate(90deg);
    transform-origin: center;
    &:before {
        content: "\e6b4";
    }
}
// 拷贝
.mzzs-icon--copy:before {
    content: "\e67b";
}
// 关闭 x
.mzzs-icon--close:before {
    content: "\e63d";
}
// 加载
.mzzs-icon--loading {
    animation: icon-loading 1s linear 0s infinite normal none running;
    &:before {
        content: "\e627";
    }
}

@keyframes icon-loading
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
